@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: #D01C28;
  --grey: #5A5959;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  height: 72px;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

button {
  all: unset;
  background: var(--red);
  color: white;
  font-weight: 500;
  height: 32px;
  padding: 6px 16px;
  border: none;
}

.hero {
display: flex;
align-items: center;
max-width: 80%;
margin: auto;
}

.hero h1 {
  font-weight: 800;
  font-size: 61px;
  line-height: 59px;
}

.hero p {
  font-weight: 600;
  color: var(--grey);
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.secondary-btn {
  background: transparent;
  color: var(--grey);
  border: solid var(--grey);
}

.available-on {
  font-size: 14px;
  margin: 8px;
}

.brand-icons {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 1280){
  .hero {
    display: flex;
    flex-direction: column;
  }
}
